#Google Colaboratory Notebook File

##Using Git and Linux
Clone repository to keep logs of file updates, and project progression.

In [1]:
!git clone https://github.com/FPyC639/QGIS_NLP_Summarizing_Tool

Cloning into 'QGIS_NLP_Summarizing_Tool'...
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 16 (delta 3), reused 12 (delta 1), pack-reused 0
Unpacking objects: 100% (16/16), 994.17 KiB | 6.76 MiB/s, done.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/QGIS_NLP_Summarizing_Tool/Issue.txt")
df.head()

                     Laptop                                              Issue
0               Dell XPS 13             Fingerprint scanner is malfunctioning.
1             Dell G5 15 SE   Experiencing issues with the driver AMD Radeo...
2     Asus ROG Zephyrus M15   Experiencing issues with the driver Realtek E...
3               HP Pavilion   Having issues and not functioning well when p...
4  Acer Predator Triton 500   Sound system is having issues with its Dolby ...

In [4]:
df.shape

(78, 2)

##Dataset current size
The size of the current dataset is 78 records with two features in feature vector Laptop name, and Issue.

In [5]:
Laptop_iter = set(map(lambda x: x.split()[0],df.Laptop.unique()))

#Laptops Used
The mockup data that was generated from ChatGPT-3.5 resulted in these Laptop brand selections.

In [6]:
for i in Laptop_iter:
  print(i)

Dell
Asus
Acer
Microsoft
HP
Lenovo

In [7]:
dict_Laptop = dict()
dict_Laptop["Lenovo"] = {"China", "Mexico", "Brazil", "India"}
dict_Laptop["Microsoft"] = {"China","Vietnam"}
dict_Laptop["Dell"] = {"China", "Malaysia", "Mexico", "Brazil", "Ireland", "USA", "India"}
dict_Laptop["Asus"] = {"Taiwan", "China", "Mexico"}
dict_Laptop["HP"] = {"China", "Mexico", "Brazil", "India"}
dict_Laptop["Acer"] = {"Taiwan", "China", "Malaysia", "Thailand"}